body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: rgb(120, 120, 120);
}

li {
  list-style: none;
}

.nav {
  height: 60px;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
}

.logo, .logo:link, .logo:visited, .logo:hover, .logo:active {
  color: #FF0080;
  font-size: 20px;
  letter-spacing: 2px;
}

.body-container {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 60px;
  left: 0;
  right: 0;
}

.shout {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  left: 0;
  right: 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.shout form {
  width: 100%;
  margin: 5px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  height: 30px;
}

.shout input {
  border-radius: 5px 0 0 5px;
  border: rgb(180, 180, 180) solid 1px;
  margin: 0;
  padding: 0 10px;
  /*height: 30px;*/
  width: 70%;
  font-weight: 100;
  font-size: 14px;
}

.shout button {
  width: 20%;
  /*height: 30px;*/
  margin: 0 0 0 -1px;
  padding: 0 0 1px 0;
  background-color: #FF0080;
  border-radius: 0 5px 5px 0;
  border: 0px;
  font-size: 20px;
  font-weight: 100;
  color: white;
}

.shout > form > button:hover {
  background-color: #FF0088;
}

.gm-style-iw {
  width: 200px !important;
  top: 25px !important; /* move the infowindow down */
  background-color: white;
  border: none;
  border-radius: 5px;
  position: relative;
  margin: 0;
  padding: 5px;
  box-shadow: 0 0px 4px rgba(120, 120, 120, 0.6);
}

.iw {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
}

.iw-cover-photo {
  width: 200px;
  border-radius: 4px 4px 0 0;
}

.iw-profile-image {
  margin: -40px 0 0 6px;
  border: 2px solid white;
  border-radius: 2px;
}

.iw-name {
  margin-left: 87px;
  margin: -44px 0 0 67px;
  font-weight: 400;
  font-size: 14px;
  color: white;
}

.iw-message {
  margin-left: 7px;
  margin: 30px 0 5px 7px;
}

.iw-time {
  font-size: 10px;
  color: grey;
  float: right;
  margin: 6px 0;
}

.iw-preference {
  height: 36px;
  width: 100%;
  display: flex;
  align-items: center;
  /*justify-content: space-around;*/
}

.iw-like {
  height: 100%;
  width: 100px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iw-dislike {
  height: 100%;
  width: 99px;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid rgb(180, 180, 180);
}

.iw-like-image {
  height: 70%;
}

.iw-dislike-image {
  height: 70%;
}