<div class="container">
  <div class="search">
    Search:
    <input ng-model="$ctrl.query" />
  </div>
  <div class="sort">
    Filter by:
    <select ng-model="$ctrl.orderProp">
      <option value="name">Alphabetical</option>
      <option value="-age">Oldest</option>
      <option value="distance">Closest</option>
    </select>
  </div>
  <div class="list">
    <ul class="users">
      <li ng-repeat="user in $ctrl.users | filter:$ctrl.query | orderBy:$ctrl.orderProp">
        <a href="#/users/{{user.id}}" class="thumbnail">
          <!-- ng-src prevents initiating request to {{}} -->
          <img ng-src="{{user.profileImageUrl}}" alt="{{user.name}}" />
        </a>
        <a href="#/users/{{user.id}}">{{user.name}}</a>
        <span>{{user.age}}</span>
        <p>Distance: {{user.distance}}</p>
        <p>{{user.blurb}}</p>
      </li>
    </ul>
  </div>
</div>